<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>vue使用模板</title>
    <!-- 引入vue -->
    <script src='../js/vue.js'></script>
</head>
<body>
    <!-- 
        条件渲染：
         1.v-if
                  写法：
                        (1).v-if="表达式" 
                        (2).v-else-if="表达式"
                        (3).v-else
                  适用于：切换频率较低的场景。
                  特点：不展示的DOM元素直接被移除。
                  注意：v-if可以和:v-else-if、v-else一起使用，但要求结构不能被“打断”。

         2.v-show
                  写法：v-show="表达式"
                  适用于：切换频率较高的场景。
                  特点：不展示的DOM元素未被移除，仅仅是使用样式隐藏掉
            
         3.备注：使用v-if的时，元素可能无法获取到，而使用v-show一定可以获取到。
     -->
        <!-- 准备一个容器 -->
        <div id='root'>
            <!-- 
                v-show做条件渲染，默认值为true,如果为false，
                元素就不会显示；值还可以用js表达式
                底层实现采用的是修改display属性
             -->
            <!-- <h3 v-show="true">欢迎来到{{name}}</h3>
            <h3 v-show="1===3">欢迎来到{{name}}</h3> -->

            <!-- 
                v-if做条件渲染也传递是布尔值或js表达式
                底层通过改变代码的结构实现
                如果v-if值为false的情况下，页面是没有
                该节点的
             -->
            <!-- <h3 v-if="false">欢迎来到{{name}}</h3>
            <h3 v-if="1===2">欢迎来到{{name}}</h3> -->
            <button @click="add">点击n+1</button>
            {{n}}
            <!-- 
                需求：n=1显示Vue,n=2显示Angular...
                其他显示Other JS Framework
                v-if,v-else-if,v-else是一组指令
                类似于js中if() {}if else(){}else{}
                这组指令中间不允许打断
                v-else不需要添加任何条件
             -->
            <div v-if="n===1">Vue</div>
            <div v-else-if="n===2">Angular</div>
            <!-- <div>打断</div> -->
            <div v-else-if="n===3">React</div>
            <div v-else-if="n===4">Vite</div>
            <div v-else>Other JS Framework</div>

             <!-- 
                当n=1时候，显示以下三个h3标签
                template不影响页面的原有结构
                只能和v-if配合使用,不能和v-show配合使用
              -->
            <template v-if="n===1">
                <h3>成都</h3>
                <h3>重庆</h3>
                <h3>西安</h3>
            </template>
            <button v-if="flase" id="demo">点击</button>
        </div>
        <script>
                // 设置为 false 以阻止 vue 在启动时生成生产提示
                Vue.config.productionTip = false;
                // 创建Vue对象
                new Vue({
                        el: '#root',
                        data: {
                            name:"四川城院",
                            n:0
                        },
                        methods: {
                            add() {
                                this.n++
                            }
                        },
                        
                })
                document.getElementById("demo").value
        </script>
</body>
</html>