<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>vue使用模板</title>
    <!-- 引入vue -->
    <script src='../js/vue.js'></script>
</head>
<body>
    <!-- 
        1.语法：v-bind:href ="xxx" 或简写为 :href
	        特点：数据只能从 data 流向页面
        2.语法：v-model:value="xxx" 或简写为 v-model="xxx"
	        特点：数据不仅能从 data 流向页面，还能从页面流向 data
     -->
        <!-- 准备一个容器 -->
        <div id='root'>
            单向绑定：<input type="text" v-bind:value="name"><br>
            双向绑定：<input type="text" v-model:value="name"><br>

            单向绑定：<input type="text" :value="name"><br>
            双向绑定：<input type="text" v-model="name"><br>
            <!-- v-bind可以实现数据的传递 -->
            <h3 :value="name">你好！！</h3>
            <!-- v-model不能实现数据传递到标签或属性中 -->
            <h3 v-model:value="name">你好！！</h3>
        </div>
        <script>
                // 设置为 false 以阻止 vue 在启动时生成生产提示
                Vue.config.productionTip = false;
                // 创建Vue对象
                new Vue({
                        el: '#root',
                        data: {
                            name:"四川成都"
                        }
                        
                })
        </script>
</body>
</html>