<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>vue使用模板</title>
    <!-- 引入vue -->
    <script src='../js/vue.js'></script>
</head>
<body>
    <!-- 
        条件渲染：
         1.v-if
                  写法：
                        (1).v-if="表达式" 
                        (2).v-else-if="表达式"
                        (3).v-else="表达式"
                  适用于：切换频率较低的场景。
                  特点：不展示的DOM元素直接被移除。
                  注意：v-if可以和:v-else-if、v-else一起使用，但要求结构不能被“打断”。

         2.v-show
                  写法：v-show="表达式"
                  适用于：切换频率较高的场景。
                  特点：不展示的DOM元素未被移除，仅仅是使用样式隐藏掉
            
         3.备注：使用v-if的时，元素可能无法获取到，而使用v-show一定可以获取到。
     -->
        <!-- 准备一个容器 -->
        <div id='root'>
            <!-- 需求：隐藏h3标签内容
                    v-show--传递布尔值/js表达式（表达式返回值为true或false）
                    节点元素仍然存在于页面中
            -->
            <!-- <h3 v-show="true">欢迎来到{{name}}</h3>
            <h3 v-show="1===3">欢迎来到{{name}}</h3> -->
            
            <!-- v-if隐藏了节点元素
                    v-if指令可以传递布尔值或js表达式（返回值为true或者false）
            -->
            <!-- <h3 v-if="true">欢迎来到{{name}}</h3>
            <h3 v-if="1===3">欢迎来到{{name}}</h3> -->
            <button @click="n++">点击n+1</button>
            <!-- 需求：n=1显示JavaScript,2显示Python...,n==其他值，显示Vue -->
            <h3>{{n}}</h3>
            <div v-if="n===1">JavaScript</div>
            <div v-else-if="n===2">Python</div>
            <!-- <div>打断</div> -->
            <div v-else-if="n===3">Mysql</div>
            <div v-else-if="n===4">Java</div>
            <div v-else>Vue</div>

            
            <!-- 
                template表示模板的意思，与div不同的是
                    ，div仍在页面中保留结构，template不影响
                    页面的结果，通过和v-if配置使用,不能配合v-show
                    使用
             -->
            <template v-if="n===1">
                <h3>成都</h3>
                <h3>重庆</h3>
                <h3>西安</h3>
            </template>

        </div>
        <script>
                // 设置为 false 以阻止 vue 在启动时生成生产提示
                Vue.config.productionTip = false;
                // 创建Vue对象
                new Vue({
                        el: '#root',
                        data: {
                            name:'四川城市职业学院',
                            n:0
                        }
                        
                })
        </script>
</body>
</html>