<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>vue使用模板</title>
    <!-- 引入vue -->
    <script src='../js/vue.js'></script>
</head>
<body>
        <!-- 准备一个容器 -->
        <div id='root'>
            <h2>学校信息</h2>
            <h4>学校名字：{{name}}</h4>
            <h4>学校地址：{{addr}}</h4>

            <h2>学生信息</h2>
            <button @click="addSex">添加性别属性，默认为女</button>
            <h4>学生姓名：{{student.name}}</h4>
            <h4>
                学生年龄：真实{{student.age.rAge}}
                对外：{{student.age.sAge}}
            </h4>
            <h4 v-if="student.sex">性别:{{student.sex}}</h4>
            <h2>朋友信息</h2>
            <ul>
                <li v-for="(f,index) in student.friends" :key="index">
                    {{f.name}}-{{f.age}}
                </li>
            </ul>
        </div>
        <script>
                // 设置为 false 以阻止 vue 在启动时生成生产提示
                Vue.config.productionTip = false;
                // 创建Vue对象
                var vm = new Vue({
                        el: '#root',
                        data: {
                            name:'四川城市职业学院',
                            addr:'成都',
                            student:{
                                name:'张萍',
                                age:{
                                    rAge:19,
                                    sAge:28
                                },
                                sex:'女',
                                friends:[
                                    {name:'刘春晨',age:18},
                                    {name:'邹堂瑞',age:38}
                                ]
                            }
                        },
                        methods: {
                            addSex() {
                                /* 
                                Vue.set( target, propertyName/index, value )
                                target:要添加属性的对象
                                pN/index:要添加的属性
                                value:添加的值
                                返回值就是value
                                */
                                Vue.set(this.student,'sex','女')
                            }
                        },
                        
                })
        </script>
</body>
</html>